@import 'bootstrap';

a {
	display: inline-block;
	position: relative;
	&:after {
		position: absolute;
		content: '';
		bottom: -2px;
		left: 0;
		height: 1px;
		width: 0;
		transition: all ease-in-out 0.2s;
	}
	&:hover {
		transform: translateX(1px);
		&:after {
			width: 100%;
		}
	}
}