@font-face {
   font-family: 'GT Walsheim';
      src: url('../fonts/GT-Walsheim/GT-Walsheim-Regular.eot');
      src: url('../fonts/GT-Walsheim/GT-Walsheim-Regular.eot?#iefix') format('embedded-opentype'),
           url('../fonts/GT-Walsheim/GT-Walsheim-Regular.woff') format('woff'),
           url('../fonts/GT-Walsheim/GT-Walsheim-Regular.ttf') format('truetype');
   font-weight: 400;
   font-style: normal;
}

@font-face {
   font-family: 'GT Walsheim';
   src: url('../fonts/GT-Walsheim/GT-Walsheim-Medium.eot');
   src: url('../fonts/GT-Walsheim/GT-Walsheim-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GT-Walsheim/GT-Walsheim-Medium.woff') format('woff'),
        url('../fonts/GT-Walsheim/GT-Walsheim-Medium.ttf') format('truetype');
   font-weight: 700;
   font-style: normal;
}

@font-face {
    font-family: 'GT Walsheim';
        src: url('../fonts/GT-Walsheim/GT-Walsheim-Bold.eot');
        src: url('../fonts/GT-Walsheim/GT-Walsheim-Bold.eot?#iefix') format('embedded-opentype'),
            url('../fonts/GT-Walsheim/GT-Walsheim-Bold.woff') format('woff'),
            url('../fonts/GT-Walsheim/GT-Walsheim-Bold.ttf') format('truetype');
   font-weight: 900;
   font-style: normal;
}

@font-face {
    font-family: 'Circular';
        src: url('../fonts/Circular/circularstd-book-webfont.eot');
        src: url('../fonts/Circular/circularstd-book-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Circular/circularstd-book-webfont.woff2') format('woff2'),
        url('../fonts/Circular/circularstd-book-webfont.woff') format('woff'),
        url('../fonts/Circular/circularstd-book-webfont.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Circular';
        src: url('../fonts/Circular/circularstd-medium-webfont.eot');
        src: url('../fonts/Circular/circularstd-medium-webfont.eot?#iefix') format('embedded-opentype'),
            url('../fonts/Circular/circularstd-medium-webfont.woff2') format('woff2'),
            url('../fonts/Circular/circularstd-medium-webfont.woff') format('woff'),
            url('../fonts/Circular/circularstd-medium-webfont.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
    font-family: 'Circular';
        src: url('../fonts/Circular/circularstd-bold-webfont.eot');
        src: url('../fonts/Circular/circularstd-bold-webfont.eot?#iefix') format('embedded-opentype'),
            url('../fonts/Circular/circularstd-bold-webfont.woff2') format('woff2'),
            url('../fonts/Circular/circularstd-bold-webfont.woff') format('woff'),
            url('../fonts/Circular/circularstd-bold-webfont.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}